// for XL devices
@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 50px
        &_subheader
            font-size: 30px
    .reasons
        &_block
            align-items: flex-start
        &_descr
            width: 300px
    .mobile
        &_item
            width: 300px
            &_subtitle
                font-size: 22px

    .footer
        &_wrapper > div
            width: 50%
            &:nth-child(1)
                width: 25%
            &:nth-child(3)
                width: 25%
                display: flex
                justify-content: flex-end
        &_mobile
            display: flex
            a
                margin: 0 3px
                img
                    width: 100%

// for MEDIUM devices
@media (max-width: 991px)
    .menu
        &_item
            padding-right: 14px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 40px
        &_subheader
            font-size: 27px
    .subheader
        &_logo
            img
                width: 100%
        &_official
            font-size: 13px
        &_phone
            font-size: 18px
        &_btn
            width: 100%
            height: 42px
            margin-top: 18px
    .reasons
        &_block
            flex-direction: column
            align-items: center
        &_round
            margin-right: 0
        &_descr
            width: 300px
            margin-top: 20px
    .mobile
        &_item
            width: 230px
            height: 230px
            &_subtitle
                font-size: 18px
                line-height: 20px
    .choice
        min-height: 800px
        &_img
            width: 100%

    .footer
        &_wrapper
            flex-wrap: wrap
        &_wrapper > div
            width: 100%
            display: flex
            justify-content: center
            margin-bottom: 20px
            &:nth-child(1)
                width: 100%
            &:nth-child(3)
                width: 100%
                justify-content: center

// for SMALL devices
@media (max-width: 767px)
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0,0,0, 0.8)
        transition: 0.6s all
        &_active
            left: 0
        &_item
            padding-right: 0
            border: none
            margin: 10px
        &_link
            font-size: 20px
    .hamburger
        display: block
        position: absolute
        right: 11px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: white
            margin-bottom: 2px
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    .xs-hidden
        display: none
    .xs-visible
        display: block
    .subheader
        &_phone
            display: block
            margin-top: 10px
            color: #FFF
            text-align: center
            font-size: 16px
            font-weight: 400
            text-transform: uppercase
        &_btn
            display: block
            width: 200px
            height: 40px
            margin: 0 auto
            margin-top: 10px
    .promo
        &_header
            font-size: 36px
        &_subheader
            font-size: 25px
    .reasons
        text-align: center
    .mobile
        padding: 30px 0

// for XS devices
@media (max-width: 575px)
    nav
        height: 30px
    .menu
        width: 75%
        &_item
            width: 100%
            text-align: center
            padding: 5px 0
        &_link
            display: block
    header
        height: 30px
    .subheader
        height: 60px
        top: 30px
        &_official
            display: none
        &_logo
            margin-top: 16px
        &_phone
            font-size: 12px
            font-weight: 400
            text-transform: uppercase
            margin-top: 11px
        &_btn
            width: 110px
            height: 22px
            font-size: 10px
            margin-top: 6px
    .promo
        min-height: 400px
        padding: 94px 0 35px 0
        &_header
            padding: 0 24px
            font-size: 30px
            font-weight: 900
            line-height: 35px
        &_subheader
            padding: 0 10px
            margin-top: 33px
            font-size: 20px
            font-weight: 700
            line-height: 30px
        &_descr
            display: none
        &_btn
            width: 210px
            height: 50px
            font-size: 16px
            font-weight: 400
            margin-top: 72px
    .reasons
        padding: 22px 0 36px 0
        &_block
            margin-top: 26px
        &_title
            font-size: 16px
        &_subtitle
            font-size: 16px
        &_round
            width: 100px
            height: 100px
        &_descr
            width: 100%
            margin-top: 27px
    .mobile
        padding: 28px 0 42px 0
        .title
            margin-top: 16px
        .subtitle
            margin-top: 9px
            font-size: 14px
            font-weight: 400
            line-height: 21px
        .row
            margin-top: 21px
        &_item
            width: 290px
            height: 254px
            margin-top: 30px
            &_subtitle
                font-size: 18px
                line-height: 31px
            &_plus
                bottom: 34px
                &:hover
                    &:before, &:after
                        background-color: $red-color
    .choice
        min-height: 393px
        padding: 25px 0 33px 0
        background: #000
        &_img
            margin-top: 35px
        &_descr
            margin-top: 23px
            color: #ffffff
            font-size: 17px
            font-weight: 300
            line-height: 24px
        &_black
            display: none
    .hidden-320
        display: none
    .require
        padding: 24px
        &_block
            margin: 30px 0 0 0
        &_title
            font-size: 16px
        &_list
            padding-left: 30px
            margin-top: 5px
            li
                font-size: 14px
                margin-bottom: 5px
                line-height: 20px
        &_descr
            font-size: 14px
            margin-top: 15px
    .world
        min-height: 360px
        padding: 26px 0 30px 0
        .title
            font-size: 16px
            margin-top: 16px
        .subtitle
            font-size: 14px
            margin-top: 11px
        &_link
            width: 200px
            display: block
            bottom: 30px
            line-height: 15px
    .footer
        &_divider
            width: 253px
            margin: 0 auto
        &_wrapper
            padding-top: 22px
        &_wrapper > div
            margin-bottom: 20px
            &:nth-child(1)
                order: 2
            &:nth-child(2)
                order: 1
            &:nth-child(3)
                order: 3
        &_links
            width: 290px
            &_main
                padding: 0
                font-size: 14px
            &_sub
                flex-wrap: wrap
                justify-content: center
                a
                    margin: 0 7px
            &_lang
                margin-top: 10px
    .title
        font-size: 16px
        margin-top: 15px
        line-hight: 16px
